In [17]:
import pandas as pd
import numpy as np

T_str = """15.29 17.68 20.08 22.67 27.01 31.61 35.94 40.68 45.98 51.11 55.18 58.59 61.90 65.79 70.16 70.52 74.66 79.35 84.00 88.52 93.63 97.97
102.24
106.65
111.17
115.78
119.44
119.74
124.85
129.77
134.95
138.91
143.55
148.50 153.54 158.60 163.66 167.26 172.78 178.45 183.79 189.05 194.06 199.45 204.92 209.38 210.52 214.35 216.53 220.40 225.75 231.37 236.95 242.44 247.80 253.32 257.99 263.44 268.80 273.03 278.57 284.01 289.65 295.40
295.94
301.60
"""

cP_molar_str = """0.024 .037 .055 .081 .145 .243 .360 .522 .736 .968 1.157 1.316 1.472 1.654 1.861 1.878 2.075 2.280 2.484 2.672 2.884 3.062 3.193 3.331 3.475 3.621 3.744 3.748 3.868 3.995 4.112 4.202 4.302
4.391 4.492 4.579 4.683 4.754 4.809 4.899 4.968 5.033 5.099 5.161 5.212 5.243 5.285 5.283 5.326 5.335 5.376 5.421 5.480 5.514 5.534 5.572 5.604 5.641 5.653 5.691 5.724 5.743 5.806 5.813 5.801 5.853 
"""

In [24]:
T = np.array([float(x) for x in T_str.split()])
cP_molar = np.array([float(x) for x in cP_molar_str.split()])
cp_grams = cP_molar / 26.97*4.184

In [25]:
len(T)

66

In [26]:
len(cp_grams)

66

In [27]:
df = pd.DataFrame(dict(T=T, cP=cp_grams))
df.to_csv('~/Dropbox/__mu/pchem1-2020/Al-cP-vs-T-22.csv')

In [29]:
df

         T        cP
0    15.29  0.003723
1    17.68  0.005740
2    20.08  0.008532
3    22.67  0.012566
4    27.01  0.022495
..     ...       ...
61  284.01  0.890942
62  289.65  0.900716
63  295.40  0.901802
64  295.94  0.899940
65  301.60  0.908007

[66 rows x 2 columns]